<header class="header">
  <div class="image">
    <img src="assets/images/logo MA.png" alt="Minha logo">
  </div>
  <div class="header__container">
      <div class="menu">
        <nav class="navegation">
          <ul class="navegation__links">
            <li class="navegation__links-sobre"><a href="#Sobre">Sobre</a></li>
            <li class="navegation__links-especialidade"><a href="#Especialidade">Especialidade</a></li>
          </ul>
        </nav>
        <div class="botao">
          <a href="https://api.whatsapp.com/send?phone=5521969222358&text=Hello, more information!" target="_blank"><img src="assets/images/icons/whatsapp.svg" alt="whatsapp">Agendar Consulta</a>
        </div>
      </div>
  </div>
</header>
