<section class="contato">
    <div class="contato__container">
        <div class="contato__conatiner-left">
            <ul>
                <li>Agendar Consulta</li>
                <li>Horário Comercial</li>
                <li>Localização</li>
            </ul>
        </div>
        <div class="contato__container-right">
            <h1>Contate-Me</h1>
            <form >
                <input type="text" name="" id="" placeholder="Nome">
                <input type="email" placeholder="Endereço de email válido">
                <input type="text">
                <button>Enviar</button>
            </form>
        </div>
    </div>
</section>
