.about {
  display: flex;
  justify-content: center;
  width: 100%;

  &__container {
    display: flex;
    max-width: 1216px;
    width: 100%;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 200px;
    &-me {
      display: flex;
      flex-direction: column;
      gap: 21px;
      padding: 66px 0;

      .ornament {
        text-align: center;
        width: 320px;
        height: auto;
        background: #FDEEF3;
        border-radius: 20px;

        p {
          padding: 3.96px 64px;
          margin-left: 0;
          width: 192px;
          height: auto;
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 300;
          font-size: 32px;
          line-height: 47px;
          color: #7B8D7A;
        }
      }

      h1 {
        margin-top: 59px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 72px;
        color: #7B8D7A;
      }

      span {
        content: '';
        width: 591px;
        height: 3px;
        background: #FDEEF3;
      }

      p {
        padding: 0 0 0 26px;
        width: 631px;
        height: auto;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 21px;
        line-height: 38px;
        color: #535254;
      }

      .instagram {
        display: flex;
        align-items: center;
        margin-top: 50px;
        justify-content: center;
        width: 276px;
        height: 71.32px;
        background: #FDEEF3;
        border-radius: 20px;

        a {
          display: flex;
          gap: 9px;
          padding: 21px 20px;
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          line-height: 28px;
          color: #000000;

          img {
            width: 30px;
            height: 30px;
          }
        }
      }
    }
  }

  &__images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      display: flex;
      width: 516px;
      height: auto;
      border-radius: 30px;
    }

    .crp {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 234px;
      height: 47px;
      background: #fdeef3;
      margin-top: 19px;
      border-radius: 20px;

      p {
        width: 160px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 30px;
        color: #e8bac7;
      }
    }
  }
}