<section class="skills" id="Especialidade">
  <div class="skills__container">
    <div class="skills__container-title">
      <h1>Ajudo você a lidar com ...</h1>
    </div>
    <div class="skills__container-info">
      <div class="box">
        <h1>Ansiedade</h1>
        <p>
          Preocupação intensa, excessiva e persistente e medo de situações
          cotidianas. Podem ocorrer frequência cardíaca elevada, respiração
          rápida, sudorese e sensação de cansaço.
        </p>
      </div>
      <div class="box">
        <h1>Depressão</h1>
        <p>
          Distúrbio mental caracterizado por depressão persistente ou perda de
          interesse em atividades, prejudicando significativamente o dia a dia.
        </p>
      </div>
      <div class="box">
        <h1>Relacionamentos</h1>
        <p>
          A psicoterapia ajuda você a melhorar essa área, bem como seus
          comportamentos, hábitos, pensamentos e emoções. Em outras palavras, ela
          te ajuda a ter uma comunicação eficaz para ter relacionamentos
          satisfatórios.
        </p>
      </div>
      <div class="box">
        <h1>Autoestima</h1>
        <p>
          Autoestima é a avaliação subjetiva que fazemos de nós mesmo como sendo
          intrinsecamente positiva ou negativa em algum grau. A autoestima envolve
          tanto crenças autosignificantes como emoções associadas.
        </p>
      </div>
      <div class="box">
        <h1>Autoestima</h1>
        <p>
          Autoestima é a avaliação subjetiva que fazemos de nós mesmo como sendo
          intrinsecamente positiva ou negativa em algum grau. A autoestima envolve
          tanto crenças autosignificantes como emoções associadas.
        </p>
      </div>
      <div class="box">
        <h1>Autoestima</h1>
        <p>
          Autoestima é a avaliação subjetiva que fazemos de nós mesmo como sendo
          intrinsecamente positiva ou negativa em algum grau. A autoestima envolve
          tanto crenças autosignificantes como emoções associadas.
        </p>
      </div>
    </div>
  </div>
</section>
