<section class="skills" id="Especialidade">
  <div class="skills__container">
    <div class="skills__container-title">
      <h1>Ajudo você a lidar com ...</h1>
    </div>
    <div class="skills__container-info">
      <div class="box">
        <img src="assets/images/icons/estresse.svg" alt="">
        <p>Estresse</p>
      </div>
      <div class="box">
        <img src="assets/images/icons/depressao.svg" alt="">
        <p>Depressão</p>
      </div>
      <div class="box">
        <img src="assets/images/icons/ansiedade.svg" alt="">
        <p>Ansiedade</p>
      </div>
      <div class="box">
        <img src="assets/images/icons/tristeza.svg" alt="">
        <p>Tristeza</p>
      </div>
      <div class="box">
        <img src="assets/images/icons/frustaçao.svg" alt="">
        <p>Frustação</p>
      </div>
      <div class="box">
        <img src="assets/images/icons/solidao.svg" alt="">
        <p>solidao</p>
      </div>
      <div class="box">
        <img src="assets/images/icons/medo.svg" alt="">
        <p>medo</p>
      </div>
      <div class="box">
        <img src="assets/images/icons/entediado.svg" alt="">
        <p>Desânimo</p>
      </div>
    </div>
  </div>
</section>