 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto:wght@300;400;700&display=swap');


*{
  margin: 0;
  padding: 0;
}
body {
  background: #FBFBFB;
}
ul {
  list-style: none;
}
a {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 24px;
  color: #7B8D7A;
  text-decoration: none;
}

